header#main-header {
    background: #fff;
    height: 9rem;
    border-bottom: 0.625rem solid #DDD;
}

header#main-header .header-content {
    width: 100%;
    max-width: 61.25rem;
    margin: 0 auto;
    height: 9rem;
    padding: 0 1.875rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}